# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# ===== Environment / secrets =====
.env
.env.*
firebase_key/serviceAccountKey.json
piggu_backend/firebase_key/


# ===== Django =====
db.sqlite3
media/
staticfiles/

# ===== ML models (IMPORTANT if large files) =====
*.pkl
*.joblib
piggu_backend/model/
piggu_backend/piggu/prediction/

# ===== IDE =====
.vscode/
.idea/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Flutter / Dart =====
.dart_tool/
.packages
.pub-cache/
.build/
build/
.flutter-plugins
.flutter-plugins-dependencies

# ===== Android =====
android/local.properties
android/.gradle/
android/app/google-services.json
android/build/

# ===== Node =====
node_modules/

# ===== Python virtual environment =====
venv/
.venv/